.App {
  width: 800px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 100px;
  background-color: #bfc;
  border: 1px solid rgb(126, 173, 137);
  border-radius: 10px;
  padding: 20px;
}